<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <private_captcha>
            <credentials>
                <site_key/>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </credentials>
            <protected_forms>
                <customer_login>0</customer_login>
                <customer_registration>0</customer_registration>
                <forgot_password>0</forgot_password>
                <contact_form>0</contact_form>
                <product_review>0</product_review>
                <email_to_friend>0</email_to_friend>
                <wishlist_share>0</wishlist_share>
                <orders_returns>0</orders_returns>
            </protected_forms>
            <advanced>
                <eu_isolation>0</eu_isolation>
                <custom_domain/>
                <debug_mode>0</debug_mode>
                <custom_styles/>
                <theme>light</theme>
                <language>auto</language>
                <start_mode>auto</start_mode>
            </advanced>
        </private_captcha>
    </default>
</config>
